@import url('https://fonts.googleapis.com/css?family=Nunito:900&display=swap');

#root{
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: url("assets/img/home-right-corner.svg") no-repeat right;
    background-position-x: 225px;
    background-position-y: -35px;

}
